@model BookShop.Models.Users.SearchedListViewModel;
@{
    ViewData["Title"] = "SearchedList";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="titlupag1">Search results for : @Model.searchedWord </div>
    <div class="card-deck">
        @foreach (var Book in Model.Books)
        {
            @if ((Book.Id != Guid.Empty) && (Book.Stock != 0) && Book.Name.ToLower().Contains(Model.searchedWord.ToLower()))
            {

                <div class="col-xl-4 col-lg-4 col-md-6" style="border-style: groove;">
                    <div class="single-product mb-60">
                        <div class="product-img" style="border">
                            <img src="data:image/png;base64, @Book.ImageFile" width="350" height="500" alt="" />
                        </div>
                        <div class="product-caption">
                            <h4 align="center"><a style="color:white" asp-controller="User" asp-action="ViewBook" asp-route-id="@Book.Id">@Book.Name </a></h4>
                            <h4 align="center" style="color:white">@Book.Price $ </h4>
                        </div>
                        @if (User.IsInRole("User") || User.IsInRole("Admin"))
                        {
                            <h4 align="center">
                                <a align="center" class="btn btn-danger" asp-controller="User" asp-action="AddComment" asp-route-id="@Book.Id">AddComm  </a>
                                <a align="center" class="btn btn-danger" asp-controller="User" asp-action="AddRating" asp-route-id="@Book.Id">Rate Book   </a>
                                <a align="center" class="btn btn-danger" asp-controller="User" asp-action="AddCart" asp-route-id="@Book.Id">Add to Cart</a>
                                <a align="center" class="btn btn-danger" asp-action="AddOrder" asp-route-id="@Book.Id">Add to Wishlist </a>
                            </h4>
                        }
                    </div>
                </div>


            }
        }

    </div>
</body>